:host {
  display: block;
  height: 100%;
}

.ngx-datatable.material {
  box-shadow: none;
  border: none;

  .datatable-header {
    border-bottom: 1px solid #e2e8f0;

    .datatable-header-cell {
      padding: 0 16px;
      font-weight: 600;
      color: #64748b;
      font-size: 0.75rem;
      text-transform: uppercase;
      display: flex;
      align-items: center;
    }
  }

  .datatable-body {
    .datatable-body-row {
      border-bottom: 1px solid #f1f5f9;

      &.active {
        background-color: #f1f5f9;
      }

      &:hover {
        background-color: #f8fafc;
      }

      .datatable-body-cell {
        padding: 0 16px;
        display: flex;
        align-items: center;
      }
    }
  }
}